@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to the Game Of Life</h3>
</div>
<canvas id="canvas" width="800" height="800"></canvas>

<button>Next</button>
<button>Start Timer</button>
<button>Stop Timer</button>
<button>Reset</button>
<script id="jsbin-javascript">
    var canvas = document.getElementById("canvas"),
        c = canvas.getContext("2d");
    canvas.addEventListener('click', handleClick);

    function drawBox() {
        c.beginPath();
        c.fillStyle = "white";
        c.lineWidth = 3;
        c.strokeStyle = 'black';
        for (var row = 0; row < 16; row++) {
            for (var column = 0; column < 16; column++) {
                var x = column * 50;
                var y = row * 50;
                c.rect(x, y, 50, 50);
                c.fill();
                c.stroke();
            }
        }
        c.closePath();
    }

    function handleClick(e) {
        c.fillStyle = 'hsl(' + 360 * Math.random() + ', 50%, 50%)';

        c.fillRect(Math.floor(e.offsetX / 50) * 50,
            Math.floor(e.offsetY / 50) * 50,
            50, 50);
    }

    drawBox();

</script>

